// Copyright (c) 2026 CxxIME Contributors. Apache License 2.0.
// Stable resource DLL for Windows input profile registration.

#include "cxxime_resource_ids.h"

IDI_CXXIME       ICON "resource\\pinterest.ico"
IDI_ICON_ZH      ICON "resource\\icon_zh.ico"
IDI_ICON_EN      ICON "resource\\icon_en.ico"
IDI_ICON_C       ICON "resource\\icon_c.ico"
IDI_FREEDLY      ICON "resource\\freedly.ico"
IDI_ICON_DISABLE ICON "resource\\icon_disable.ico"
